<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>

<div class="container">
    <h1>Wishlist</h1>
    <form action="/create-wish" method ="get">
        <button type="submit">New</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish: ${wishes}">
            <td>
                <form action="/prepare_update" method="get">
                    <input type="hidden" name="id" th:value="${wish.id}">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="/confirm_delete" method="get">
                    <input type="hidden" name="id" th:value="${wish.id}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>